:root {
    --background-light:white;
}
body {
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(to right, #2c3e50, #bdc3c7);
}
.navbar{
    display: flex;
    width: 100%;
    border-radius: 15px;
    background-color: whitesmoke;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.5);
    margin-bottom: 1vh;
}
.navbar p{
    text-align: left;
    margin-left: 1vh;
}
.nav-link{
    text-decoration: none;
    font-size: 16px;
    font-weight: 900;
    color: black;
    background-image: linear-gradient(black, black);
    background-size: 0% 0.1em;
    background-position-x: 0%, 100%;
    background-position-y: 100%;
    background-repeat: no-repeat;
    transition: 0.25s;
}
.nav-link:hover{
    transition: 0.25s;
    background-size: 100% 0.1em;
    font-size: 24px;
}
.card-center{
    display: flex;
    justify-content: center;
}
.card {
    display: flex;
    justify-content: center;
    width: 10%;
    height: 200px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    color: white;
    background: solid var(--background-light);
    padding: 1.89rem;
    border-radius: 15px;
}
/* kazkas nxj su animation yra as nzn, kai hoverini mazas shiftas matosi */
.card-btn{
    opacity: 0;
    width: 60%;
    height: 30%;
    font-size: 15px;
    border-radius: 15px;
    color: white;
    border-color: rgba(0, 0, 0, 0);
    font-family: "Montserrat", sans-serif;
    transition: 0.25s ease-in-out;
}
/* as nesuprantu kas blet su button color vyksta kai baigi hoverint */
.card:hover .card-btn {
    transform: translate(-45%, 310%);
    font-size: 1.05em;
    opacity: 1;
    background-color: rgba(72, 69, 75, 0.2);
    scale: 1.0;
    transition: 0.25s ease-in-out;
    /* transition: 0.6s cubic-bezier(0.23, 1, 0.320, 1); */
}
.card:hover .card-btn:active {
    transition: 0.25s ease-in-out;
    transform: translate(-45%, 310%);
}
/* borderis yra pidaras */
.card-btn:hover{
    border: lightpink 1px solid;
    transition: 0.25s ease-in-out;
}
.card-title {
    font-size: 30px;
    font-weight: bold;
}
/* imano padaryt koki delay kad animation playintu? */
#expandingdiv {
    display: flex;
    justify-content: center;
    width: 10%;
    height: 200px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    color: white;
    background: solid var(--background-light);
    padding: 1.89rem;
    border-radius: 15px;
}
/* worst solution down here. vysai neblogas tiesa sakant */
.closebtn {
    float: right;
    transform: translate(12px, -62px);
    background: solid var(--background-light);
    color: white;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px;
    border-radius: 5px;
    border: 0;
}
