:root {
    --text: #040910;
    --background: #b1b9cd;
    --primary: #6d65d7;
    --secondary: #8787a8;
    --accent: #7b1c68;
}
body {
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(to right, #2c3e50, #bdc3c7);
}
.navbar{
    display: flex;
    width: 100%;
    border-radius: 15px;
    background-color: whitesmoke;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.5);
    margin-bottom: 1vh;
}
.navbar p{
    text-align: left;
    margin-left: 1vh;
}
.nav-link{
    text-decoration: none;
    font-size: 16px;
    font-weight: 900;
    color: black;
    background-image: linear-gradient(black, black);
    background-size: 0% 0.1em;
    background-position-x: 0%, 100%;
    background-position-y: 100%;
    background-repeat: no-repeat;
    transition: 0.25s;
}
.nav-link:hover{
    transition: 0.25s;
    background-size: 100% 0.1em;
    font-size: 24px;
}
.card-center{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.card-details{
    background: #6d65d7;
    height: 50vh;
    width: 50vh;
    border-radius: 15px;
    transition: 0.25s;
}
.card-details .card-btn{
    opacity: 0;
    transition: 0.25s;
}
.card-details:hover{
    background: whitesmoke;
    height: 55vh;
    width: 55vh;
    border-radius: 15px;
    transition: 0.25s;
}
.card-details:hover .card-btn{
    transition: 0.25s;
    opacity: 1;
}
.card-title{
    font-size: 56px;
    text-align: center;
}
.card-text{
    font-size: 30px;
    margin-left: 20px;
}
.card-btn{
    opacity: 0;
    margin-left: 35%;
    margin-top: 50%;
    font-size: 42px;
    color: black;
    border-radius: 5px;
    transition-duration: 0.25s;
    padding: 11px 20px;
    background-color: rgb(123, 87, 255);
    border: none;
    color: rgb(241, 241, 241);
    cursor: pointer;
    font-weight: bold;
    z-index: 2;
}
.card-btn:hover{
    background-color: rgba(123, 87, 255, 0.2);
}
#expandingdiv {
    background-color: #8787a8;
    width: 300px;
    height: 200px;
    background: linear-gradient(to right,#8787a8,#c2d5f0);
    overflow: hidden;
    border-radius: 12px;
    
}
.citata {
    align-content: center;
    position: absolute;
    padding: 12px 15px;
    top: 40%;
    font-size: 30px;
    font-weight: 600;
}
/* paziurek html code jei nesupranti kas cia vyksta*/
#bendraujam {
    background-image: linear-gradient(to right, #6d65d7, #7b1c68);
    background-clip: var(--text);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
}
#myInput{
    display: flex;
    flex-direction: column;
    width: fit-content;
    position: static;
    max-width: 240px;
}
